# Supabase
NEXT_PUBLIC_SUPABASE_URL=....
NEXT_PUBLIC_SUPABASE_ANON_KEY=....

# AWS S3 (Image Storage - for review image uploads)
APP_AWS_S3_BUCKET_NAME=your-bucket-name
APP_AWS_S3_REGION=ap-south-1
APP_AWS_ACCESS_KEY_ID=your-access-key-id
APP_AWS_SECRET_ACCESS_KEY=your-secret-access-key