# Dependencies
node_modules/
*.npm
*.yarn

# Production
/build
/dist
/.next
.next/
/out

# Environment variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# IDE editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.DS_Store

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Cache
.cache
.eslintcache

# Zip files
*.zip
